<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{fragments/layout :: layout('Incident', ~{::section})}">
<section>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 m-0">Incident #<span th:text="${incident.id}">1</span></h1>
    <div class="d-flex gap-2">
      <a class="btn btn-sm btn-outline-secondary" th:href="@{/incidents}">Volver</a>
      <a class="btn btn-sm btn-primary" th:href="@{|/incidents/${incident.id}/edit|}">Editar</a>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="h5" th:text="${incident.summary}">sum</h2>

      <div class="d-flex flex-wrap gap-2 mb-3">
        <span class="badge text-bg-dark" th:text="${incident.serviceName}">svc</span>

        <span class="badge"
              th:classappend="${incident.severity.name() == 'CRITICAL'} ? ' text-bg-danger' :
                             (${incident.severity.name() == 'HIGH'} ? ' text-bg-warning' :
                             (${incident.severity.name() == 'MEDIUM'} ? ' text-bg-secondary' : ' text-bg-info'))"
              th:text="${incident.severity}">MEDIUM</span>

        <span class="badge"
              th:classappend="${incident.status.name() == 'CLOSED'} ? ' text-bg-success' : ' text-bg-danger'"
              th:text="${incident.status}">OPEN</span>
      </div>

      <div th:if="${incident.timelineNotes != null && !#strings.isEmpty(incident.timelineNotes)}">
        <h3 class="h6">Timeline</h3>
        <pre class="p-3 bg-light border rounded" th:text="${incident.timelineNotes}">notes</pre>
      </div>
      <p class="text-muted" th:if="${incident.timelineNotes == null || #strings.isEmpty(incident.timelineNotes)}">Sin timeline notes.</p>

      <hr>
      <div class="small text-muted">
        Creado: <span th:text="${incident.createdAt}">-</span> |
        Cerrado: <span th:text="${incident.closedAt}">-</span> |
        Actualizado: <span th:text="${incident.updatedAt}">-</span>
      </div>

      <div class="mt-3">
        <form th:action="@{|/incidents/${incident.id}/delete|}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button class="btn btn-outline-danger" type="submit">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
